/* 

flipbook code taken and adapted from https://github.com/farooqdadai/css-book-flip/blob/master/index.html <3

*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* font-family: 'NoticiaText', sans-serif; */
    align-items: center;
    /* background: linear-gradient(90deg , #fff 50% , #4a1010 50% ); */
    background:var(--black);
    overflow:hidden;
}

input {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

.book {
    display: flex;
    color:var(--black);
}

#cover {
    width:calc(50vw - 2rem);
    max-width: 40rem;
    height:calc(100vh - 4rem);
    max-height: 55rem;
}

.flip-book {
    width:calc(50vw - 2rem);
    max-width: 40rem;
    height:calc(100vh - 4rem);
    max-height: 55rem;
    position: relative;
    perspective: 1500px;
}

.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 0.5s;
    color: var(--black);

    background:var(--white);
}

p {
    font-size: 1rem;
    line-height: 1.15;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: #fff; */
    box-sizing: border-box;
    padding: 1rem;
    /* box-shadow: inset 20px 0 50px r; */
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000;
}

.next-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #000;
}

.back-btn {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
    color: #fff;
}

#p1 {
    z-index: 3;
}
#p2 {
    z-index: 2;
}
#p3 {
    z-index: 1;
}

#c1:checked ~ .flip-book #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}
#c2:checked ~ .flip-book #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}
#c3:checked ~ .flip-book #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
}