:root {
    --black:#253031;
    --teal:#3AB795;
    --white:#FFFDF3;
    --purple:#7c72a0;
    --blue:#52b4f6;
}

@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'NoticiaText', Tahoma, Geneva, Verdana, sans-serif;
}



/* body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'NoticiaText', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
} */


/* 
#cover {
    z-index:-1;
    display:none;
    pointer-events: none;
    user-select: none;
} */