:root {
    --black:#160F29;
    --teal:#246A73;
    --white:#EEEEE2;
    --brown:#6D2D05;
    --red:#BD2431;
}

@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'NoticiaText', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}