@import url("https://cdn.jsdelivr.net/npm/plyr@3/dist/plyr.css");

:root {
    --plyr-color-main:var(--blue);
    --plyr-badge-background:rgba(0,0,0,0);
    --plyr-badge-text-color:var(--black);

    --plyr-audio-controls-background:rgba(0,0,0,0);
    --plyr-audio-control-color:var(--purple);

    --plyr-audio-control-color-hover:var(--teal);
    --plyr-audio-control-background-hover:var(--black);
}