:root {
    --black:#253031;
    --teal:#3AB795;
    --white:#FFFDF3;
    --purple:#7c72a0;
    --blue:#52b4f6;

    --text-shadow: 0 0 0.125em rgba(37, 48, 49, 0.3);
}

@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src: url('./fonts/NoticiaText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'NoticiaText', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    text-shadow: var(--text-shadow);
}



/* body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'NoticiaText', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
} */


/* 
#cover {
    z-index:-1;
    display:none;
    pointer-events: none;
    user-select: none;
} */


.hr {
    width:100%;
    display:flex;
    align-items: center;
    gap:0.5rem;
    font-weight:600;
    /* text-transform: uppercase; */
    font-size:0.75em;
    margin-block:0.5rem;
    line-height: 0.8;
}
.hr::before {
    content:'';
    display:block;
    width:100%;
    height:0.1em;
    background:var(--blue);
    margin:0.6em 0 0.4em 0;
    box-shadow: var(--text-shadow);
}
.hr::after {
    content:'';
    display:block;
    width:100%;
    height:0.1em;
    background:var(--blue);
    box-shadow: var(--text-shadow);
    margin:0.6em 0 0.4em 0;
}


ul {
    padding-left: 1.5rem;
}